<ul class="nav justify-content-end">
    <li class="nav-item">
        <NavLink class="nav-link active text-dark"   href="addissues">Add Issues</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-dark" href="customers">Customers</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-dark" href="managers">Managers</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-dark" href="settings">Settings</NavLink>
    </li>

</ul>


@code {

}
